body{
 background-color:azure;
}

h1 {
 font-family: Arial, Helvetica, sans-serif;
}

#main{
display:flex;
flex-direction: column;
width: 80%;
}

#main p {
 background-color: antiquewhite;
 width:30vh;
 text-align: center;
}

#main section {
 display: flex;
 flex-direction: row;
 width: 80%;
 justify-content: space-between;
}

#main img {
 margin: 0px 20px;
 max-width: 375px;
 /* width: auto; */
 /* max-height:max-content; */
 cursor: pointer;
}